<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="/static/styles/main.css"/>
</head>
<body>
<table>
    <tr>
        <th></th>
        <th>Player name</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Assists</th>
        <th>Items</th>
    </tr>
    <tr th:each="player : ${details.players}">
        <td><img th:src="${player.hero.imageSmall}" /></td>
        <td th:text="${player.personName}"></td>
        <td th:text="${player.kills}"></td>
        <td th:text="${player.deaths}"></td>
        <td th:text="${player.assists}"></td>
        <td>
            <ul th:each="item : ${player.items}">
                <li th:text="${item != null ? item.localizedName : ''}"></li>
            </ul>
        </td>
    </tr>
</table>
</body>
</html>