html, body {
    margin: 0;
    height: 100%;
}

.login-page {
    position: absolute;
    top: 50%;
    left: 50%;
    border: solid gray 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.login-form {
    vertical-align: middle;
    margin: 100px 70px;
}

.login-form label {
    display: inline-block;
    width: 100%;
}

.login-form input {
    float: right;
}

.login-form div {
    margin: 10px 0;
}